<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <title>Template Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row-md-12">
            <h1 class="font-weight-light">Prenumeration på e-tidning</h1>
        </div>
        <form class="form" action="#">
            <div class="row ">
                <div class="col border border-info rounded p-1 m-2">
                    <p class="bg-info text-center text-light rounded">Tidningsdata</p>
                    <div class="mb-1">
                        <label for="Tidning">Tidning:</label>
                        <select id="Tidning" class="form-control" v-model="newSubscription.newspaper">
                            <option class="dropdown-item" v-for="n in newspapers" v-bind:value="n">{{n.name}}</option>
                        </select>
                    </div>
                    <p class="bg-info text-center text-light rounded">Monthly price :
                        {{newSubscription.newspaper.monthlyPrice}}</p>
                    <div class="mb-1">
                        <label for="subscription-time">Prenumerationstid:</label>
                        <input type="number" id="subscription-time" class="form-control text-right" placeholder="3"
                               min="1"
                               max="12" v-model="newSubscription.duration">
                    </div>
                    <p class="bg-info text-center text-light rounded">Total price : {{totalPrice}}</p>
                </div>
                <div class="col m-2">
                    <div class="border border-info rounded p-1">
                        <p class="bg-info text-center text-light rounded">Kunddata</p>
                        <div>
                            <label for="Name">Namn:</label>
                            <input type="text" id="Name" class="form-control" placeholder="Nalle Puh"
                                   v-model="newSubscription.name">
                        </div>
                        <div>
                            <label for="Email">Email:</label>
                            <input type="text" id="Email" class="form-control" placeholder="nalle@sjumila.com"
                                   v-model="newSubscription.email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-md-12">
                <div class="text-right m-2">
                    <input type="button" class="btn form-submit bg-info text-light rounded" value="Spara"
                           @click="saveSubscription">
                </div>
                <div class="text-center font-weight-bold">
                    <p class="text-danger">{{warning}}</p>
                </div>
            </div>
        </form>
        <div class="row p-1 m-2">
            <subscription_table_component :subscriptions="subscriptions" @unsubscribe="unsubscribe"></subscription_table_component>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="SubscriptionTableComponent.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        components : {
            subscription_table_component,

        },
        data: {
            warning: "",
            newSubscription: {
                newspaper: {
                    name: "",
                    monthlyPrice: 0,
                },
                duration: 0,
                totalPrice: this.totalPrice,
                name: "",
                email: "",
            },
            newspapers: [
                {
                    name: "Vasabladet",
                    monthlyPrice: 55,
                },
                {
                    name: "Huvudstadsbladet",
                    monthlyPrice: 60,
                }
            ],
            subscriptions: [{
                newspaper: {
                    name: "Vasabladet",
                    monthlyPrice: 55,
                },
                duration: 2,
                totalPrice: 110,
                name: "Kalle Anka",
                email: "kalle.anka@hotmail.com",
            }],
        },
        methods: {
            saveSubscription: function () {
                if (this.newSubscription.newspaper && this.newSubscription.duration && this.newSubscription.email && this.newSubscription.name) {
                    this.subscriptions.push(this.newSubscription);
                } else {
                    this.warning = "Enter all the data first!";
                }
            },
            unsubscribe: function (selected) {
                const index = this.subscriptions.indexOf(selected);
                if (index > -1) {
                    this.subscriptions.splice(index, 1);
                }
            }
        },
        computed: {
            totalPrice: function () {
                this.newSubscription.totalPrice = this.newSubscription.duration * this.newSubscription.newspaper.monthlyPrice;
                return this.newSubscription.totalPrice;
            },
        }
    });
</script>
</html>
